html,
body {
  min-width: 100vw;
  min-height: 100vh; }

header {
  min-width: 100vw;
  height: calc(100vh - 66px);
  color: #4FC1E9; }

body {
  padding-top: 66px;
  background: #f1f2f6;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif !important; }

.shader {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); }

nav,
footer {
  color: #4FC1E9; }

nav,
footer {
  background: white; }
  nav a,
  footer a {
    color: inherit; }

.navbar {
  margin-bottom: 0; }

.navbar-fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; }

.navbar-brand {
  padding: 0;
  color: inherit; }
  .navbar-brand img {
    display: inline; }
  .navbar-brand .zeipher-title {
    display: inline;
    font-weight: 600; }

ul.nav {
  width: 100%; }

.nav-link,
.nav-icon {
  line-height: 2rem; }

.nav-icon {
  color: #4FC1E9; }

.jumbotron {
  height: calc(100vh - 60px);
  background: transparent;
  box-shadow: none;
  -webkit-box-shadow: none; }
  .jumbotron .text-container {
    height: calc(100% - 50px); }
  .jumbotron .attention-getter {
    font-size: 5vw; }

main section {
  min-height: 100vh; }

main section:not(:first-child) {
  margin-top: 25%; }

main section:last-child {
  margin-bottom: 1rem; }

main p {
  color: #9e9e9e; }

main h1, main h2, main h3, main h4, main h5, main h6 {
  color: #424242; }

main .card.special {
  margin-top: 4rem; }

main .card-body.special {
  padding: 3rem 1rem 0 1rem;
  border-top: solid 3px #4FC1E9; }

main .outline-border {
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: white; }
  main .outline-border .img-container {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center; }

main .outline-border {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border: solid 3px #4FC1E9; }
  main .outline-border i {
    line-height: 86px;
    font-size: 35px;
    color: white; }

.event-heading {
  margin-top: 0;
  margin-bottom: .5rem; }

.event-text {
  margin-bottom: .5rem; }

dt {
  background-color: #4FC1E9 !important; }

.timeline dl dd .time {
  width: auto; }

@media (max-width: 767px) {
  main .card:not(.last) {
    margin-bottom: 1rem; }
  .timeline dl dd .time {
    width: 50px; }
  .timeline .circ {
    display: none; } }
